
<h3><%= @doctor.name %>'s Patients: </h3>
<% @doctor.patients.each do |patient| %>
    
<%= render partial: 'patients/patient', locals: {patient: patient} %>
<% end %>


<%= link_to "Appointments", doctor_appointments_path(@doctor) %>