<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/doctor2styles.css">
        <title>Welcome to the Doctors</title>
    </head>
    <body>
        <%= yield%>
    </body>
</html>